<section id="tickets" class="tickets bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <!--
        <h2>Ponencias sobre tecnología<br/><br/>
Talleres para niñas/os sobre tecnología<br/><br/>
Networking<br/><br/>
120 asistentes</h2>
-->

      <p class="lead">A partir de las 12:00 abriremos la venta de la primera tanda de entradas. <br/><br/><span class="wtm-highlight">¡Consulta la web para más novedades!</span><br/></p>
          
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
